<section class="section border-t">
  <div class="container">
    <div class="row justify-content-center mb-5">
      <div class="col-md-8 text-center">
        <h1 class="heading mb-4">Our blog article</h1>
      </div>
    </div>

    <div class="row g-0">
      <div class="col-md-4">
        <a href="#" class="link-thumbnail">
          <h3>
            <span class="date">February 8, 2021</span> Lorem ipsum dolor sit amet consectetur adipisicing elit.
          </h3>
          <span class="fa fa-plus"></span>
          <img src="https://fer-bar.github.io/AlberCan/images/pet4.jpg" alt="Image placeholder" class="img-fluid custom-image">
        </a>
      </div>

      <div class="col-md-4">
        <a href="#" class="link-thumbnail">
          <h3>
            <span class="date">February 8, 2021</span> Lorem ipsum dolor sit amet consectetur adipisicing elit.
          </h3>
          <span class="fa fa-plus"></span>
          <img src="https://fer-bar.github.io/AlberCan/images/pet1.jpg" alt="Image placeholder" class="img-fluid custom-image">
        </a>
      </div>

      <div class="col-md-4">
        <a href="#" class="link-thumbnail">
          <h3>
            <span class="date">February 8, 2021</span> Lorem ipsum dolor sit amet consectetur adipisicing elit.
          </h3>
          <span class="fa fa-plus"></span>
          <img src="https://fer-bar.github.io/AlberCan/images/pet2.jpg" alt="Image placeholder" class="img-fluid custom-image">
        </a>
      </div>
    </div>
  </div>
</section>