<section class="section border-t">
  <div class="container">
    <div class="row justify-content-center mb-5">
      <div class="col-md-8 text-center">
        <h1 class="heading mb-4">Nuestros posts</h1>
      </div>
    </div>

    <div class="row g-0">
      <div class="col-md-4">
        <a href="#" class="link-thumbnail">
          <h3>
            <span class="date">Hace un mes</span> ¿Qué alimentos son peligrosos para los cachorros?
          </h3>
          <span class="fa fa-plus"></span>
          <img src="https://fer-bar.github.io/AlberCan/images/pet4.jpg" alt="Image placeholder" class="img-fluid custom-image">
        </a>
      </div>

      <div class="col-md-4">
        <a href="#" class="link-thumbnail">
          <h3>
            <span class="date">Hace 4 meses</span> La importancia de adoptar animales rescatados
          </h3>
          <span class="fa fa-plus"></span>
          <img src="https://fer-bar.github.io/AlberCan/images/pet1.jpg" alt="Image placeholder" class="img-fluid custom-image">
        </a>
      </div>

      <div class="col-md-4">
        <a href="#" class="link-thumbnail">
          <h3>
            <span class="date">27 de Octubre del 2003</span> Lucy, nos cuenta como ser voluntaria en el albergue cambió su vida.
          </h3>
          <span class="fa fa-plus"></span>
          <img src="https://fer-bar.github.io/AlberCan/images/pet2.jpg" alt="Image placeholder" class="img-fluid custom-image">
        </a>
      </div>
    </div>
  </div>
</section>