<footer class="site-footer">
  <div class="container">
    <div class="row mb-5">
      <div class="col-md-3 mb-5">
        <h2>About us</h2>
        <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Vel, sunt quos voluptas, facere quo explicabo quibusdam dolorem amet distinctio voluptatibus optio excepturi culpa delectus minus asperiores! Eaque ipsam dolor voluptatem?</p>
        <p><a href="#">Click here to learn more</a></p>
      </div>

      <div class="col-md-3 mb-5">
        <h2>Contact &amp; Address</h2>
        <ul class="list-unstyled footer-link">
          <li class="d-flex">
            <span class="me-3">Addresse:</span><span class="text-white">28 Avenut Name, City name here , Country name here</span>
          </li>

          <li class="d-flex">
            <span class="me-3">Telephone:</span><span class="text-white">+591 74418613</span>
          </li>

          <li class="d-flex">
            <span class="me-3">Email:</span><span class="text-white">youremail@yourdomain.com</span>
          </li>
        </ul>
      </div>

      <div class="col-md-3 mb-5">
        <h2>Quick links</h2>
        <ul class="list-unstyled footer-link">
          <li><a href="#">About us</a></li>
          <li><a href="#">Testimonials</a></li>
          <li><a href="#">Our pets</a></li>
          <li><a href="#">Blog articles</a></li>
          <li><a href="#">Contact us</a></li>
        </ul>
      </div>

      <div class="col-md-3">
        <h2>Our social media</h2>
        <ul class="list-unstyled footer-link d-flex footer-social">
          <li><a href="#"><span class="fa fa-facebook"></span></a></li>
          <li><a href="#"><span class="fa fa-twitter"></span></a></li>
          <li><a href="#"><span class="fa fa-instagram"></span></a></li>
          <li><a href="#"><span class="fa fa-linkedin"></span></a></li>
          <li><a href="#"><span class="fa fa-youtube"></span></a></li>
        </ul>
      </div>
    </div>

    <div class="row">
      <div class="col-12 text-md-center text-left">
        <p>This template is made with <i class="fa fa-heart-o"></i> by Coding River</p>
      </div>
    </div>
  </div>
</footer>