<footer class="site-footer">
  <div class="container">
    <div class="row mb-5">
      <div class="col-md-3 mb-5">
        <h2>Sobre nosotros</h2>
        <p>
          Somos una organización que protege y cuida a las mascotas. Proporcionamos un hogar seguro para cada mascota
          rescatada y aseguramos su bienestar. Creemos en el poder de la adopción y en el amor que una mascota puede
          aportar. ¡Únete a nosotros y cambia la vida de una mascota hoy!
        </p>
        <p><a href="#">Haz clic aquí para aprender más</a></p>
      </div>

      <div class="col-md-3 mb-5">
        <h2>Contacto y dirección</h2>
        <ul class="list-unstyled footer-link">
          <li class="d-flex">
            <span class="me-3">Dirección:</span><span class="text-white">Avenida 6 de Agosto #312, Sucre, Chuquisaca.</span>
          </li>

          <li class="d-flex">
            <span class="me-3">Teléfono:</span><span class="text-white">+591 69695061</span>
          </li>

          <li class="d-flex">
            <span class="me-3">Email:</span><span class="text-white">josesaigua2001@gmail.com</span>
          </li>
        </ul>
      </div>

      <div class="col-md-3 mb-5">
        <h2>Accesos directos</h2>
        <ul class="list-unstyled footer-link">
          <li><a href="#">Sobre nosotros</a></li>
          <li><a href="#">Testimonios</a></li>
          <li><a href="#">Nuestras mascotas</a></li>
          <li><a href="#">Nuestros posts</a></li>
          <li><a href="#">Contáctanos</a></li>
        </ul>
      </div>

      <div class="col-md-3">
        <h2>Nuestras redes sociales</h2>
        <ul class="list-unstyled footer-link d-flex footer-social">
          <li><a href="#"><span class="fa fa-facebook"></span></a></li>
          <li><a href="#"><span class="fa fa-twitter"></span></a></li>
          <li><a href="#"><span class="fa fa-instagram"></span></a></li>
          <li><a href="#"><span class="fa fa-linkedin"></span></a></li>
          <li><a href="#"><span class="fa fa-youtube"></span></a></li>
        </ul>
      </div>
    </div>

    <div class="row">
      <div class="col-12 text-md-center text-left">
        <p>Esta template esta hecha con <i class="fa fa-heart-o"></i> por Coding River</p>
      </div>
    </div>
  </div>
</footer>