<div id="myCarousel" class="carousel slide carousel-fade mb-6">
  <div class="carousel-inner">
    {% for headline in headlines %}
      <div class="carousel-item {% if forloop.first %}active{% endif %}">
        <img src="{{ headline.image_url }}"
             class="img-fluid d-block"
             alt="{{ headline.title }}">
        <div class="container">
          <div class="carousel-caption text-end">
            <h1>{{ headline.title }}</h1>
            <p class="opacity-75">{{ headline.description }}</p>
            <p><a class="btn btn-lg btn-primary" href="#">Regístrate hoy</a></p>
          </div>
        </div>
      </div>
    {% endfor %}

  </div>
  <button class="carousel-control-prev" type="button" data-bs-target="#myCarousel" data-bs-slide="prev">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Previous</span>
  </button>
  <button class="carousel-control-next" type="button" data-bs-target="#myCarousel" data-bs-slide="next">
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Next</span>
  </button>
</div>