<section class="section bg-light">
  <div class="container">
    <div class="row justify-content-center mb-5">
      <div class="col-md-8 text-center">
        <h1 class="heading mb-4">Conoce a nuestras adorables mascotas</h1>
        <p class="mb-4 lead">
          Cada día es una oportunidad para conocer a nuestras adorables mascotas. Son cariñosas, juguetonas y están listas para ser parte de tu familia. Ven y descubre el amor incondicional que una mascota puede ofrecer. Recuerda, adoptar una mascota no solo cambia la vida de la mascota, sino también la tuya. 🐾❤️
        </p>
        <p class="mb-0">
          <a href="#" class="btn btn-primary">Descubre más sobre nuestras mascotas</a>
        </p>
      </div>
    </div>
    <!-- 2nd Carousel  -->
    {% include "pet/secondary_carousel.html" %}
    <!-- End 2nd Carousel  -->
  </div>
</section>