<section class="section bg-light">
  <div class="container">
    <div class="row justify-content-center mb-5">
      <div class="col-md-8 text-center">
        <h1 class="heading mb-4">Meet our adorable pets</h1>
        <p class="mb-4 lead">Lorem ipsum dolor sit amet consectetur adipisicing elit. Sunt non at praesentium fuga quisquam, tempora eos rerum soluta! Officiis soluta veritatis nostrum incidunt minus vel sunt excepturi? Alias, necessitatibus sed.</p>
        <p class="mb-0">
          <a href="#" class="btn btn-primary">Find out about our pets</a>
        </p>
      </div>
    </div>
    <!-- 2nd Carousel  -->
    {% include "pet/main_slider.html" %}
    <!-- End 2nd Carousel  -->
  </div>
</section>