<section class="section pt-1 pb-2">
  <div class="container">
    <div class="row">
      <div class="col-md-5">
        <img src="https://fer-bar.github.io/AlberCan/images/img_2.svg"
             class="img-fluid mb-5"
             style="width: 300px; height: 300px;"
             alt="A cat and a dog">
        <p class="mb-4">
          Adoptar una mascota es un acto de amor que cambia vidas. Al abrir tu hogar a un animal necesitado, no solo le
          das una segunda oportunidad, sino que también contribuyes a la lucha contra la sobrepoblación y el
          animal. Cada adopción permite a los refugios continuar su valioso trabajo de rescate. Además, la alegría
          y el amor que una mascota trae a tu vida son invaluables. Al adoptar, no solo estás salvando una vida,
          sino que también estás enriqueciendo la tuya.
        </p>
        <p><a href="#" class="btn btn-primary mb-md-0 mb-4">Adopta ahora</a></p>
      </div>
      <div class="col-md-1"></div>
      <div class="col-md-6">
        <h2 class="mb-5">Pasos para rescatar y adoptar una mascota</h2>
        <div class="accordion accordion-flush" id="accordionFlushExample">
          <div class="accordion-item mb-2">
            <h2 class="accordion-header mb-0">
              <button class="accordion-button"
                      type="button" data-bs-toggle="collapse"
                      data-bs-target="#flush-collapseOne" aria-expanded="true" aria-controls="flush-collapseOne">
                1. Iniciando el proceso
                <span class="fa-solid fa-chevron-down"></span>
              </button>
            </h2>
            <div id="flush-collapseOne"
                 class="accordion-collapse collapse show" data-bs-parent="#accordionFlushExample">
              <div class="accordion-body">
                Comienza tu viaje de adopción con entusiasmo y una mente abierta. Cada paso que tomes
                te acerca a tu nuevo amigo peludo.
              </div>
            </div>
          </div>
          <div class="accordion-item mb-2">
            <h2 class="accordion-header mb-0">
              <button class="accordion-button collapsed"
                      type="button" data-bs-toggle="collapse"
                      data-bs-target="#flush-collapseTwo"
                      aria-expanded="false"
                      aria-controls="flush-collapseTwo">
                2. Completa el formulario
                <span class="fa-solid fa-chevron-down"></span>
              </button>
            </h2>
            <div id="flush-collapseTwo"
                 class="accordion-collapse collapse" data-bs-parent="#accordionFlushExample">
              <div class="accordion-body">
                Llena el formulario de adopción con sinceridad. Esto nos ayuda a entender tus necesidades
                y a encontrar la mascota perfecta para ti.
              </div>
            </div>
          </div>
          <div class="accordion-item mb-2">
            <h2 class="accordion-header mb-0">
              <button class="accordion-button collapsed"
                      type="button" data-bs-toggle="collapse"
                      data-bs-target="#flush-collapseThree" aria-expanded="false" aria-controls="flush-collapseThree">
                3. Recibir la confirmación
                <span class="fa-solid fa-chevron-down"></span>
              </button>
            </h2>
            <div id="flush-collapseThree" class="accordion-collapse collapse" data-bs-parent="#accordionFlushExample">
              <div class="accordion-body">
                Una vez que tu formulario sea revisado y aprobado, recibirás una confirmación. Este es un gran paso
                hacia la adopción de tu mascota.
              </div>
            </div>
          </div>
          <div class="accordion-item mb-2">
            <h2 class="accordion-header mb-0">
              <button class="accordion-button collapsed"
                      type="button"
                      data-bs-toggle="collapse"
                      data-bs-target="#flush-collapseFour"
                      aria-expanded="false" aria-controls="flush-collapseFour">
                4. Encontrar tu mascota ideal
                <span class="fa-solid fa-chevron-down"></span>
              </button>
            </h2>
            <div id="flush-collapseFour" class="accordion-collapse collapse" data-bs-parent="#accordionFlushExample">
              <div class="accordion-body">
                Te ayudaremos a encontrar la mascota que se adapte mejor a tu estilo de vida y preferencias. Recuerda,
                cada mascota es única y especial.
              </div>
            </div>
          </div>
          <div class="accordion-item mb-2">
            <h2 class="accordion-header mb-0">
              <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseFive" aria-expanded="false" aria-controls="flush-collapseFive">
                5. Decidir por tu nuevo amigo
                <span class="fa-solid fa-chevron-down"></span>
              </button>
            </h2>
            <div id="flush-collapseFive" class="accordion-collapse collapse" data-bs-parent="#accordionFlushExample">
              <div class="accordion-body">
                Tomarte el tiempo para decidir asegura que tú y tu nueva mascota sean una
                buena combinación. Esta es una decisión que cambiará la vida de ambos.
              </div>
            </div>
          </div>
          <div class="accordion-item mb-2">
            <h2 class="accordion-header mb-0">
              <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseSix" aria-expanded="false" aria-controls="flush-collapseSix">
                6. Completar los trámites de adopción
                <span class="fa-solid fa-chevron-down"></span>
              </button>
            </h2>
            <div id="flush-collapseSix" class="accordion-collapse collapse" data-bs-parent="#accordionFlushExample">
              <div class="accordion-body">
                Una vez que hayas tomado tu decisión, completarás los trámites de adopción. Este es el último paso
                antes de llevar a tu nueva mascota a casa.
              </div>
            </div>
          </div>
          <div class="accordion-item mb-2">
            <h2 class="accordion-header mb-0">
              <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseSeven" aria-expanded="false" aria-controls="flush-collapseSeven">
                7. Recibir el certificado de adopción
                <span class="fa-solid fa-chevron-down"></span>
              </button>
            </h2>
            <div id="flush-collapseSeven" class="accordion-collapse collapse" data-bs-parent="#accordionFlushExample">
              <div class="accordion-body">
                Al final del proceso, recibirás un certificado de adopción. Este es un recordatorio del amoroso
                acto que has realizado al adoptar.
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>