.section-subscribe {
  padding: 5em 0;
}
.form-control {
  outline: none;
  -webkit-box-shadow: none !important;
  box-shadow: none !important;
  height: 50px;
}
.form-control:focus{
  -webkit-box-shadow: 0 3px 10px rgba(0, 0, 0, 0.2) !important;
  box-shadow: 0 3px 10px -2px rgba(0, 0, 0, 0.2) !important;
}
.form-control:focus, .form-control:active {
  outline: none;
}