.accordion-item {
  font-size: 15px;
  border: 1px solid #dee2e6;
}

.accordion-item h2 button {
  display: block;
  text-align: left;
  text-decoration: none;
  color: #bc5148;
  position: relative;
  -webkit-box-shadow: 0 3px 10px -2px rgba(0, 0, 0, 0.2)!important;
  box-shadow: 0 3px 10px -2px rgba(0, 0, 0, 0.2)!important;
  border-radius: 0px !important;
}

.accordion-item h2 button .fa-chevron-down {
  position: absolute;
  right: 20px;
  top: 50%;
  -webkit-transform: translateY(-50%) rotate(-180deg);
  -ms-transform: translateY(-50%) rotate(-180deg);
  transform: translateY(-50%) rotate(-180deg);
  -webkit-transition: 0.3s all ease;
  -o-transition: 0.3s all ease;
  transition: 0.3s all ease;
}

.accordion-item h2 button:hover {
  text-decoration: none;
  -webkit-box-shadow: 0 3px 10px -2px rgba(0, 0, 0,0.2)!important;
  box-shadow: 0 3px 10px -2px rgba(0, 0, 0,0.2)!important;
}

.accordion-item h2 button.collapsed {
  color: #000;
}

.accordion-item h2 button.collapsed .fa-chevron-down {
  right: 20px;
  top: 50%;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
}

.accordion-item h2 button.collapsed:hover {
  text-decoration: none;
  -webkit-box-shadow: 0 3px 10px -2px rgba(0, 0, 0,0.2)!important;
  box-shadow: 0 3px 10px -2px rgba(0, 0, 0,0.2)!important;
}

.accordion-item .accordion-body {
  padding-top: 20px;
}

.accordion-button:not(.collapsed) {
  color: #bc5148;
  background: #fff;
  border: none;
}

.accordion-button:focus {
  border-color: #fff;
}